body {
  background-color: #414146;
}

body._lock {
  overflow: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  font-size: 30px;
  margin-bottom: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #da4343;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  max-width: 1200px;
  margin: auto;
  min-height: 70px;
}

.header__logo {
  display: block;
  position: relative;
  z-index: 5;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
}

/*.........................*/
body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin: 0 0 0 5px;
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

/*.........................*/
.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 20px;
}

.menu__link {
  color: white;
  font-size: 18px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: black;
  padding: 15px;
  min-width: 200px;
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:hover {
  text-decoration: underline;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: white;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0, 10%);
            transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
  }
  .menu__icon::after {
    top: 0;
  }
  .menu__icon::before {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::before {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 0px 0px 0px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #da4343;
    z-index: 2;
  }
  .menu__list {
    padding-right: 30px;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-top: 20px;
    position: relative;
    display: none;
    background-color: #fff;
  }
  .menu__sub-link {
    color: black;
    font-size: 20px;
  }
}

.main1,
.main2,
.main3 {
  margin: 20px;
}

.main {
  margin-top: 100px;
}
